<footer>
    <div class="footer">
        <div class="logo_footer"><img src="/img/logo.png" alt="DonorSearch"></div>
        <div class="footer_row">
            <div class="footer_row_item">
                <div class="footer_row_item_title">О донорстве</div>
                <a class="footer_row_item_text" href="">Как стать донором?</a>
                <a class="footer_row_item_text" href="">Как найти донора?</a>
                <a class="footer_row_item_text" href="">Донорство крови</a>
                <a class="footer_row_item_text" href="">Где сдать кровь?</a>
                <a class="footer_row_item_text" href="">Часто задаваемые вопросы</a>
            </div>

            <div class="footer_row_item">
                <div class="footer_row_item_title">O DonorSearch</div>
                <a class="footer_row_item_text" href="">О проекте</a>
                <a class="footer_row_item_text" href="">СМИ о нас</a>
                <a class="footer_row_item_text" href="">Наш магазин</a>
                <a class="footer_row_item_text" href="">Журнал</a>
                <a class="footer_row_item_text" href="">Мероприятия</a>
            </div>

            <div class="footer_row_item">
                <div class="footer_row_item_title">НКО</div>
                <a class="footer_row_item_text" href="">Об организации</a>
                <a class="footer_row_item_text" href="">Помочь проекту</a>
                <a class="footer_row_item_text" href="">Найти донора</a>
                <a class="footer_row_item_text" href="">Спецпроекты</a>
                <a class="footer_row_item_text" href="">Награды</a>
            </div>

            <div class="footer_row_item">
                <div class="footer_row_item_title">Наши партнеры</div>
                <a class="footer_row_item_text" href="">Благодарности</a>
                <a class="footer_row_item_text" href="">Партнеры</a>
                <a class="footer_row_item_text" href=""><img src="/img/presedent.png" alt="Fond"></a>

            </div>

            <div class="footer_row_item">
                <div class="footer_row_item_title">Организациям</div>
                <a class="footer_row_item_text" href="">Партнерство с бизнесом</a>
                <a class="footer_row_item_text" href="">HR и донорство</a>
                <a class="footer_row_item_text" href="">Бизнес и донорство</a>
                <a class="footer_row_item_text" href="">Бонусная программа</a>
            </div>
        </div>
    </div>
</footer>