<nav role='navigation'>
    <div id="menuToggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <a href="/settings/account">
                <li>Персональные данные</li>
            </a>
            <a href="#">
                <li>Управление заявками</li>
            </a>
            <a href="">
                <li>Карточка питомца-донора</li>
            </a>
            <div class="dropdown text_mob">
                <button class="dropbtn text_mob row space-bet">
                    <a href="#">
                        <li>Карточка донора</li>
                    </a>
                    <img src="/img/select.svg" alt="more">
                </button>
                {{!-- <div class="dropdown-content">
                    <a href="#">Масик</a>
                    <a href="#">Виталик</a>
                    <a href="#">Паук</a>
                </div> --}}
                <ul>
                    {{#each pets}}
                    <li><a href="/settings/petAccount/{{id}}">{{petName}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </ul>
    </div>
</nav>