<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <link rel="stylesheet" href="/css/style_needs.css">
</head>

<body>
    {{>header}}

    <div class="container">
        <!-- Актуальные потребности -->
        <div class="block need_donors">
            <div class="block_title">
                Актуальные потребности
            </div>
            <div class="hidden">
                <div class="important_item">
                    <div class="filter_title">Фильтры</div>
                    <hr>
                    <form action="#">
                        <div class="form-row">
                            <div class="title_form">Тип питомца</div>
                            <select name="city" id="city-select" class="input-data">
                                <option value="">Введие тип</option>
                                <option value="dog">Dog</option>
                                <option value="cat">Cat</option>
                                <option value="hamster">Hamster</option>
                                <option value="parrot">Parrot</option>
                                <option value="spider">Spider</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <div class="title_form">Укажите группу крови питомца</div>
                            <select name="city" id="city-select" class="input-data">
                                <option value="">Не указана</option>
                                <option value="dog">Dog</option>
                                <option value="cat">Cat</option>
                                <option value="hamster">Hamster</option>
                                <option value="parrot">Parrot</option>
                                <option value="spider">Spider</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <div class="title_form">Город</div>
                            <select name="city" id="city-select" class="input-data">
                                <option value="">Введие тип</option>
                                <option value="dog">Dog</option>
                                <option value="cat">Cat</option>
                                <option value="hamster">Hamster</option>
                                <option value="parrot">Parrot</option>
                                <option value="spider">Spider</option>
                            </select>
                        </div>
                        <div class="filter_but_submit">
                            <input name="submit" type="button" value="Применить">
                        </div>
                        <br>
                        <div class="outline">
                            <input name="submit" type="button" value="Сбросить">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row space-bet baseline">
                <div class="needs_left">
                    <div class="row space-bet wrap">
                        <div class="important_item">
                            <div class="need_donor_head">
                                <div class="row baseline space-bet">
                                    <div>
                                        <div class="type_of_pet">Кот</div>
                                        <div class="name_of_pet">Валера</div>
                                    </div>
                                    <div class="number_of_donors">
                                        2/9 найдено
                                    </div>
                                </div>
                            </div>
                            <div class="need_donor_info">
                                <div class="need_donor_info_item row">
                                    <img src="/img/location_need_donor.svg" alt="location">
                                    Москва
                                </div>
                                <div class="need_donor_info_item row">
                                    <img src="/img/blood_need_donor.svg" alt="blood">
                                    Любая группа крови
                                </div>
                                <div class="need_donor_info_item row">
                                    <img src="/img/calendar_need_donor.svg" alt="calendar">
                                    до 24.02.2024
                                </div>
                                <div class="need_donor_info_button">
                                    <button><a href="#">Помочь</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="important_item">
                            <div class="need_donor_head">
                                <div class="row baseline space-bet">
                                    <div>
                                        <div class="type_of_pet">Кот</div>
                                        <div class="name_of_pet">Валера</div>
                                    </div>
                                    <div class="number_of_donors">
                                        2/9 найдено
                                    </div>
                                </div>
                            </div>
                            <div class="need_donor_info">
                                <div class="need_donor_info_item row">
                                    <img src="/img/location_need_donor.svg" alt="location">
                                    Москва
                                </div>
                                <div class="need_donor_info_item row">
                                    <img src="/img/blood_need_donor.svg" alt="blood">
                                    Любая группа крови
                                </div>
                                <div class="need_donor_info_item row">
                                    <img src="/img/calendar_need_donor.svg" alt="calendar">
                                    до 24.02.2024
                                </div>
                                <div class="need_donor_info_button">
                                    <button><a href="#">Помочь</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row space-bet wrap">
                        <div class="important_item">
                            <div class="need_donor_head">
                                <div class="row baseline space-bet">
                                    <div>
                                        <div class="type_of_pet">Кот</div>
                                        <div class="name_of_pet">Валера</div>
                                    </div>
                                    <div class="number_of_donors">
                                        2/9 найдено
                                    </div>
                                </div>
                            </div>
                            <div class="need_donor_info">
                                <div class="need_donor_info_item row">
                                    <img src="/img/location_need_donor.svg" alt="location">
                                    Москва
                                </div>
                                <div class="need_donor_info_item row">
                                    <img src="/img/blood_need_donor.svg" alt="blood">
                                    Любая группа крови
                                </div>
                                <div class="need_donor_info_item row">
                                    <img src="/img/calendar_need_donor.svg" alt="calendar">
                                    до 24.02.2024
                                </div>
                                <div class="need_donor_info_button">
                                    <button><a href="#">Помочь</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="important_item">
                            <div class="need_donor_head">
                                <div class="row baseline space-bet">
                                    <div>
                                        <div class="type_of_pet">Кот</div>
                                        <div class="name_of_pet">Валера</div>
                                    </div>
                                    <div class="number_of_donors">
                                        2/9 найдено
                                    </div>
                                </div>
                            </div>
                            <div class="need_donor_info">
                                <div class="need_donor_info_item row">
                                    <img src="/img/location_need_donor.svg" alt="location">
                                    Москва
                                </div>
                                <div class="need_donor_info_item row">
                                    <img src="/img/blood_need_donor.svg" alt="blood">
                                    Любая группа крови
                                </div>
                                <div class="need_donor_info_item row">
                                    <img src="/img/calendar_need_donor.svg" alt="calendar">
                                    до 24.02.2024
                                </div>
                                <div class="need_donor_info_button">
                                    <button><a href="#">Помочь</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row space-bet wrap">
                        <div class="important_item">
                            <div class="need_donor_head">
                                <div class="row baseline space-bet">
                                    <div>
                                        <div class="type_of_pet">Кот</div>
                                        <div class="name_of_pet">Валера</div>
                                    </div>
                                    <div class="number_of_donors">
                                        2/9 найдено
                                    </div>
                                </div>
                            </div>
                            <div class="need_donor_info">
                                <div class="need_donor_info_item row">
                                    <img src="/img/location_need_donor.svg" alt="location">
                                    Москва
                                </div>
                                <div class="need_donor_info_item row">
                                    <img src="/img/blood_need_donor.svg" alt="blood">
                                    Любая группа крови
                                </div>
                                <div class="need_donor_info_item row">
                                    <img src="/img/calendar_need_donor.svg" alt="calendar">
                                    до 24.02.2024
                                </div>
                                <div class="need_donor_info_button">
                                    <button><a href="#">Помочь</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="important_item">
                            <div class="need_donor_head">
                                <div class="row baseline space-bet">
                                    <div>
                                        <div class="type_of_pet">Кот</div>
                                        <div class="name_of_pet">Валера</div>
                                    </div>
                                    <div class="number_of_donors">
                                        2/9 найдено
                                    </div>
                                </div>
                            </div>
                            <div class="need_donor_info">
                                <div class="need_donor_info_item row">
                                    <img src="/img/location_need_donor.svg" alt="location">
                                    Москва
                                </div>
                                <div class="need_donor_info_item row">
                                    <img src="/img/blood_need_donor.svg" alt="blood">
                                    Любая группа крови
                                </div>
                                <div class="need_donor_info_item row">
                                    <img src="/img/calendar_need_donor.svg" alt="calendar">
                                    до 24.02.2024
                                </div>
                                <div class="need_donor_info_button">
                                    <button><a href="#">Помочь</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="needs_right hidden_mobile">
                    <div class="important_item">
                        <div class="filter_title">Фильтры</div>
                        <hr>
                        <form action="#">
                            <div class="form-row">
                                <div class="title_form">Тип питомца</div>
                                <select name="city" id="city-select" class="input-data">
                                    <option value="">Введие тип</option>
                                    <option value="dog">Dog</option>
                                    <option value="cat">Cat</option>
                                    <option value="hamster">Hamster</option>
                                    <option value="parrot">Parrot</option>
                                    <option value="spider">Spider</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="title_form">Укажите группу крови питомца</div>
                                <select name="city" id="city-select" class="input-data">
                                    <option value="">Не указана</option>
                                    <option value="dog">Dog</option>
                                    <option value="cat">Cat</option>
                                    <option value="hamster">Hamster</option>
                                    <option value="parrot">Parrot</option>
                                    <option value="spider">Spider</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="title_form">Город</div>
                                <select name="city" id="city-select" class="input-data">
                                    <option value="">Введие тип</option>
                                    <option value="dog">Dog</option>
                                    <option value="cat">Cat</option>
                                    <option value="hamster">Hamster</option>
                                    <option value="parrot">Parrot</option>
                                    <option value="spider">Spider</option>
                                </select>
                            </div>
                            <div class="filter_but_submit">
                                <input name="submit" type="button" value="Применить">
                            </div>
                            <br>
                            <div class="outline">
                                <input name="submit" type="button" value="Сбросить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>

    <script src="/js/main.js"></script>
</body>

</html>