<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>header}}
    <div class="container">
        <div class=" block form">
            <img src="/img/foot.svg" alt="img">
            <div class="item_title">
                Ваша заявка отправлена на модерацию
            </div>
            <div class="item_desc">
                Вся информация появится в вашем личном кабинете
            </div>

            <div class="moderation_item">
                <button><a href="/">На главную</a></button>
            </div>
        </div>
        {{>footer}}
    </div>
</body>

</html>