<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>header}}
    <div class="container">
        <div class="block form form_search">
            <div class="form_head row space-bet">
                <div class="form_pet form_active">
                    <div class="form_title">Данные питомца</div>
                </div>
                <div class="form_people">
                    <div class="form_title">Данные хозяина</div>
                </div>
            </div>
            <form action="/requests/registerPet" method="post">
                <div class="row space-bet baseline wrap">
                    <div class="mw100">
                        <div class="form-row">
                            <div class="title_form">Тип питомца</div>
                            <select name="petType" class="input-data">
                                <option value="">Введите тип</option>
                                <option value="Собака">Собака</option>
                                <option value="Кошка">Кошка</option>
                                <option value="Кролик">Кролик</option>
                                <option value="Обезьяна">Обезьяна</option>
                            </select>
                        </div>

                        <div class="form-row">
                            <div class="title_form">Имя питомца</div>
                            <div class="input-data">
                                <input type="text" name="petName" placeholder="Введите имя" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="title_form">Причина поисков </div>
                            <div class="input-data">
                                <input type="text" name="reason" placeholder="Введите причину" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="title_form">Количество крови (мл)</div>
                            <div class="input-data">
                                <input type="text" name="amountOfBlood" placeholder="Введите кол-во" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="title_form">Количество доноров</div>
                            <div class="input-data row">
                                {{!-- <img id="minus" src="/img/circleMin (1).svg" alt=""> --}}
                                {{!-- <div class="count">10</div> --}}
                                <div>
                                    <input type="text" name="donorsSize" value="1" required>
                                </div>
                                {{!-- <img id="plus" src="/img/pkusmin.svg" alt=""> --}}
                                {{!-- <input type='number'> --}}
                            </div>
                        </div>
                    </div>
                    <div class="mw100">
                        <div class="form-row">
                            <div class="title_form">Укажите группу крови питомца</div>
                            <div class="small_text"> Выберите одну или несколько необходимых групп крови.
                                В случае если подходит любая группа крови - ничего не указывайте</div>
                            <div class="input-data">
                                <input type="text" name="bloodGroup" placeholder="Введите группу крови" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="title_form">Дата окончания поиска донора</div>
                            <div class="input-data">
                                <input type="text" name="dateEndOfSearch" placeholder="Введите дату" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="title_form">Город</div>
                            <div class="input-data">
                                <input type="text" name="city" placeholder="Введите город" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="title_form">Ветклиника <vet_pet>(место, куда привести питомца)</vet_pet>
                            </div>
                            <div class="input-data">
                                <input type="text" name="vet" placeholder="Введите название ветклиники" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="but_submit">
                    <!-- <button>Следующий шаг</button> -->
                    <input type="submit" value="Следующий шаг">
                </div>
            </form>
        </div>
        {{>footer}}
    </div>
    <script src="/js/main.js"></script>
</body>

</html>