<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{>header}}
    <div class="container">
        <div class="block form form_search">
            <div class="form_head row space-bet">
                <div class="form_pet">
                    <div class="form_title">Данные питомца</div>
                </div>
                <div class="form_people form_active">
                    <div class="form_title">Данные хозяина</div>
                </div>
            </div>
            <form action="/requests/moderation" method="get">
                <div class="row space-bet wrap">
                    <div class="form-row">
                        <div class="title_form">ФИО</div>
                        <div class="input-data">
                           <input type="text" placeholder="Введите ФИО">
                        </div>
                     </div>
                     <div class="form-row">
                        <div class="title_form">Телефон</div>
                        <div class="input-data">
                           <input type="text" placeholder="Введите телефон">
                        </div>
                     </div>
                     <div class="form-row">
                         <div class="title_form">Почта</div>
                         <div class="input-data">
                            <input type="text" placeholder="Введите почту">
                         </div>
                      </div>
                </div>
                <div class="but_submit">
                    <!-- <button>Следующий шаг</button> -->
                    <input type="submit" value="Следующий шаг">
                </div>
             </form>
        </div>
        {{>footer}}
    </div>
</body>
</html>